/* 下層ページ お部屋 */

.room-cover {
  position: relative;
  height: 100vh;
  margin: 0;
  background-image: url(../images/room3.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.room-background-gradation {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to left, rgba(0, 0, 0, .4), transparent 30%);

  @media (max-width: 480px) {
    background: linear-gradient(to left, rgba(0, 0, 0, .6), transparent 50%);
  }
}

.room-top-cover {
  display: flex;
  width: 90%;
  margin: auto;

  @media (max-width: 480px) {
    width: 90%;
  }
}

.room-cover-logo {
  z-index: 100;
  margin: 0;
  margin-top: 10vh;
  font-size: 0;

  @media (max-width: 480px) {
    margin-top: 3rem;
  }
}

.room-cover-logo-img {
  height: 15rem;
  margin-left: 20%;

  @media (max-width: 480px) {
    height: 10rem;
    margin-left: 30%;
  }
}

.room-cover-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 60%;
  height: 100vh;
  font-size: 5rem;
  font-family: "aoyagi-font", serif;
  letter-spacing: .5em;

  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;

  @media (max-width: 480px) {
    justify-content: flex-end;
    align-items: flex-start;
    height: 45%;
    font-size: 3rem;
  }
}

.room-cover-sub-text {
  text-indent: 2em;
}

.room-type {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  margin: auto;
}

.room-img-container {
  margin: auto;
}

figure.hover-parent {
  position: relative;
  width: 35rem;
  height: 35rem;
  overflow: hidden;

  @media (max-width: 480px) {
    width: 100%;
    height: 30rem;
  }

  &:hover .hover-mask {
    opacity: 1;
    left: 0;
    transition: all .6s ease;
  }
}

figcaption.hover-mask {
  opacity: 0;
  position: absolute;
  right: 0;
  left: -100%;
  margin-top: 1rem;
  font-size: 2rem;
  letter-spacing: .5em;
  text-align: center;

  @media (max-width: 480px) {
    opacity: 1;
    left: 0;
    font-size: 1.5rem;
  }
}

.loging-top {
  margin-bottom: 6rem;
  font-size: 3rem;
  letter-spacing: .3em;
  text-align: center;
}

.loging-container {
  width: 70%;
  margin: auto;
  font-size: 1.5rem;
  letter-spacing: .4em;

  @media (max-width: 480px) {
    width: 80%;
  }
}

.loging-maintext {
  width: 25%;
  border-bottom: 1px solid $white;
  line-height: 1.4;

  @media (max-width: 480px) {
    display: block;
    width: 80%;
    padding: 20px 20px 10px;
    border: none;
    text-align: start;
  }
}

/* 見出しの横棒 */

.loging-catch {
  @media (max-width: 480px) {
    display: flex;
    align-items: center;
    /* 垂直中心 */
  }
}

.loging-catch:before, .loging-catch:after {
  @media (max-width: 480px) {
    width: .8em;
    border-top: 1px solid;
    content: "";
    /* 線の長さ */
  }
}

.loging-catch:before {
  @media (max-width: 480px) {
    margin-right: .5em;
    /* 文字の右隣 */
  }
}

.loging-catch:after {
  @media (max-width: 480px) {
    margin-right: .5em;
    /* 文字の右隣 */
  }
}

.loging-subtext {
  padding: 40px 40px 40px 50px;
  border-bottom: 1px solid #e1dede;
  line-height: 1.4;

  @media (max-width: 480px) {
    display: block;
    max-width: inherit;
    padding: 2rem 1rem;
  }
}